.App {
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.target {
  padding-top: 10px;
}

.capture-container{
  position: "relative";
  float: "top" ;
}

.capture-button{
  padding: 6px 30px !important;
}
